header{
    background: #ff6565;
}
NAV{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}










body{
    background: #ff7777;
}
.banner{
    border-radius: 25px;
}
.renato{
  max-width: 80%;
 border-radius: 25px;
    padding: 10px;  
    background-color: #ff6565;
}

.brother{
    color: #ffd270;
}

.mano{
    color: #ffd270;
}

#missao{
    color: #ffe2a4;
}

#missaoverdadeira{
    color: #ffe2a4;
    font-size: 20px;

}


.beneficios{
    border-radius: 25px;
    max-width: 80%;
    background-color: #ff6565;
    font-style: italic;
    color: rgb(255, 180, 137);

}

.itens {
    font-style: italic;
}
#titulobene {
    font-size: 25px;
    color: #ffa34d;
    padding: 20px ;
}

#ul2{
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#barba {
    border-radius: 30px;
    width: 40%;
}

