header{
    background: #13274F;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
font-family: 'Courier New', Courier, monospace;
}
body{
    background: #112042;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
NAV{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #fdfdfd;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
form{
    margin: 40px 0;
    
}
#formulario{
    font-family:'Courier New', Courier, monospace;
}
.input-padrao{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width:  50%;
    border-radius: 25px;
}

main{
    width: 940px;
    margin: 0 auto;
}

#h2{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}
form label, form legend {
    display: block;
    font-size: 0 0 20px;
    margin: 0 0 10px;
}

.checkbox{
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: #ff9b44
    color: white;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 15px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}

.enviar:hover{
    background:#ff9b44
    transform: scale(1.2);
}

table{
    margin: 20px 0 40px;
}

thead{
background: #555555;
color: white;
font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px;
}

footer{
    text-align: center;
    background: #13274F;
    padding: 40px 0;
}

.copy{
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    color: #fdfdfd;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #ff9b44;
    border-radius: 25px;     

}
.produtos li:hover{
    border-color: #C78C19;
}
.produtos li:aactive{
    border-color: #088C19;
}
.produtos li:hover h2{
    font-size: 34px;
}